
div {
	/*debug code*/
	border-style: solid;
    border-width: 2px;

}

#sidebar {
	width: 25%;
	/*height: calc(100% - 112.5%);*/

}

#body {
	width: 75%;
	/*height: calc(100% - 112.5px);
	background-color: #000000;*/

}

