
html {
    color: #BFBFBF;
}

body {
    background-image: url('background.png');
    background-color: #000000;

}

div {
    margin: 0px;
    padding: 0px;
    /*
    border: 2px solid;
    border-radius: 10px;
    */
}

#header {
    position: absolute;
    width: 600px;
    margin-left: -300px;
    height: 75px;
    left: 50%;
    text-align: center;
}

#sidebar {
    overflow: auto;
    position: absolute;
    margin-top: 100px;
    width: 25%;
    height: calc(100% - 120px);
}

#box {
    border: 1px solid;
    border-radius: 5px;
    border-color: 0x000000;
}

#modlinks {
    padding-left: 2em;
    width: 120px;
}

#deps {
    font: bold 14px Arial;
}

#button {
    margin-left: -20px;
}

#main {
    overflow: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: calc(25% + 2px);
    width: calc(75% - 20px);
    height: calc(100% - 120px);
}

#tab1 {
    padding-left: 2em;
}

#contentHeader {
    font: bold 14px Arial;
}
