
{# Menu links (sidebar), Title (header), teaser (subtitle), info (body) #}

<aside class="large-4 columns" style="border-left-style: solid; border-right-style: solid; border-width: 2px; border-color: white;">
	This is the sidebar

	<a href="{{ 'http://minecraft.curseforge.com/mc-mods/' ~ details['cfname'] }}">Curseforge</a>
	<a href="{{ details['latest'] }}">Curseforge Download</a>


</aside>
