
<aside class="large-4 columns" style="border-left-style: solid; border-right-style: solid; border-width: 2px; border-color: white;height:100%;">
	
	Handly Links:<br />

	<a href="{{ 'http://minecraft.curseforge.com/mc-mods/' ~ details['curseforge'] }}" target="_blank">
		<img src="{{ paths.theme ~ 'assets/curseforge.png' }}" alt="" style="width:32px;height:32px;" />
		Curseforge
	</a>
	<br />
	<a href="{{ details['latest'] }}" target="_blank">
		<img src="{{ paths.theme ~ 'assets/download.png' }}" alt="" style="width:32px;height:32px;" />
		Latest Download
	</a>

</aside>
