{% macro display_list_item(item, loop) %}
	{# The Title of the project #}
	<td class="left full">
		<h3 style="text-align: left; padding-left: 10px;">{{item.label}}</h3>
		{% setcontent page = item.path %}
		<div style="text-align: left; padding-left: 50px;">{{page.teaser}}</div>
	</td>
{% endmacro %}

{% from _self import display_list_item %}
{% for item in menu %}
    {% if item.label is defined %}
    	{# Link the entire block #}
		<a href="{{ item.link }}" class="project">
			<table class="project full"><tr style="width: 100%; height: 40px;">
				{{ display_list_item(item, loop) }}
			</tr></table>
		</a>
		<br />
    {% endif %}
{% endfor %}
