{% include '_header_info.twig' %}

	{% if record is defined %}
		{% set home = record %}
		{% set slug = app.request.pathInfo|split('/')[2] %}
		{% set details = {} %}
		{% for mod in config.get('menu/mc-mods') %}
			{% if mod['label'] == home.title %}
				{% set details = mod %}
			{% endif %}
		{% endfor %}
		{% set details = details|merge({'mcv': config.get('general/minecraft')[0]}) %}
		{% set details = details|merge({'cfname': details['curseforge']|split('-')[1]}) %}
		{% set details = details|merge({'latest': "http://thetemportalist.dries007.net/mod-helper/" ~ details['mcv'] ~ "/" ~ details['cfname'] ~ "/latest"}) %}

		<table style="width:100%;">
			<tr>
				<td>{% include '_aside_mod.twig' %}</td>
				<td>
					<div style="border: solid; border-color: red; width: 75%;">
						{% if home.title is defined and home.title is not empty %}
							<h1 style="color:white;text-align:center;"><u>{{ home.title }}</u></h1>
						{% endif %}

						{% if home.teaser is defined and home.teaser is not empty %}
							<h3 style="color:white;text-align:center;">{{ home.teaser }}</h3>
						{% endif %}

						<br />

						{% if home.body is defined and home.body is not empty %}
							<p>{{ home.body }}</p>
						{% endif %}
					</div>
				</td>
			</tr>
		</table>

	{% endif %}

{% include '_footer_info.twig' %}
