{% include '_header_info.twig' %}

	{{ dump(mods) }}

	{% include '_aside_mod.twig' %}

	<div class="large-8 columns">
		{% if record is defined %}
			{% set home = record %}
			
			{% if home.title is defined and home.title is not empty %}
    			<h1>{{ home.title }}</h1>
        	{% endif %}




        {% endif %}
	</div>

{% include '_footer_info.twig' %}
