{% macro display_menu_item(item, loop) %}
	<tr>
		<td>{{item.label}}</td>
	</tr>
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
