{% include '_header.twig' %}

	<div style="margin-left: 40px; margin-right: 20px;">
		{#
<ul style="list-style-type: none; padding-top: 20px; margin: 0 auto 20px;">
			{{ menu('mods', 'modlisting.twig') }}
		</ul>
		#}

		<table style="list-style-type: none; padding-top: 20px; margin: 0 auto 20px;">
			{{ menu('mods', 'modlisting.twig') }}
		</table>

	</div>

{% include '_footer.twig' %}
