{% include '_header.twig' %}

	<div style="margin-left: 40px; margin-right: 20px;">
		{#
<ul style="list-style-type: none; padding-top: 20px; margin: 0 auto 20px;">
			{{ menu('mods', 'modlisting.twig') }}
		</ul>
		#}

		<table style="width: 100%; padding-top: 20px; margin: 0 auto 20px;">
			<tr>
				<td class="center">Mod Name</td>
				<td class="center">Minecraft Version</td>
				<td class="center">Forge Version</td>
				<td class="center">CurseForge</td>
				<td class="center">Source</td>
			</tr>
			{{ menu('mods', 'modlisting.twig') }}
		</table>

	</div>

{% include '_footer.twig' %}
