{% include '_header.twig' %}

	<div style="">
		{% if record is defined %}
			{% set home = record %}

			<div style="margin-left: 30px;">
				{% if home.title is defined and home.title is not empty %}
				    <h1 style="color: white; text-align: left;">{{ home.title }}</h1>
				{% endif %}
				<div style="padding-left: 30px;">
					{% if home.teaser is defined and home.teaser is not empty %}
	    			    <h3 style="color: white; text-align: left;">{{ home.teaser }}</h3>
	    			{% endif %}
				</div>

				<form>
					Tumblr blog name (or url):
					<input type="text" name="hostOrUrl" style="wdith: 40%;" />
					<input type="submit" value="Update" />
				</form>
				<br />
				<br />

				{#
					Valid hostnames:
						temportalflux
						-> temportalflux.tumblr.com
						temportalflux.com
				#}

				{% set blogname = app.request.get('hostOrUrl') %}
				{% set posts = tumblr_GetPosts(blogname) %}
				{{ dump(posts) }}

			</div>
		{% endif %}
	</div>

{% include '_footer.twig' %}
