{% include '_header.twig' %}

	<div style="">
		{% if record is defined %}
			{% set home = record %}

			<div style="margin-left: 30px;">
				{% if home.title is defined and home.title is not empty %}
				    <h1 style="color: white; text-align: left;">{{ home.title }}</h1>
				{% endif %}
				<div style="padding-left: 30px;">
					{% if home.teaser is defined and home.teaser is not empty %}
	    			    <h3 style="color: white; text-align: left;">{{ home.teaser }}</h3>
	    			{% endif %}
				</div>

				{% set oauth = config.get('general/tumblroauth') %}
				{% set secret = config.get('general/tumblrsecret') %}
				{# {{ dump(app.request.get("api.tumblr.com/v2/blog/temportalflux.tumblr.com/info?api_key=" ~ oauth)) }} #}
				{{ tumblr_GetUserInfo("temportalflux.tumblr.com", oauth, secret) }}

			</div>
		{% endif %}
	</div>

{% include '_footer.twig' %}
