
.boltform form div {
	width: 100%;
	display: inline-block;
}

.boltform form div input[type=text] {
	/*
	display: inline-block;
	*/
	width: 100%;
}

.boltform form div label {
	color: #ffffff;
	display: inline-block;
}

/*
.boltform form div input[type=checkbox] {

}
*/

