.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: blue;
}

div.project {
	width: 100%;
	height: 60px;
	background-color: #7D7D7D;
}

a.project {
	color: white;
    text-decoration: none;
}

a.project:hover {
	color: white;
	text-decoration: none;
}

div.project td {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	width: 30%;
	height: 100%;
	border-style: solid;
	border-color: green;
}

div.project tr {
	width: 30%;
}
