.center {
	text-align: center
}

div.project {
	width: 100%;
	height: 60px;
	background-color: red;
}

a.project {
	color: white;
    text-decoration: none;
}

a.project:hover {
	color: white;
	text-decoration: none;
}

div.project td {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	height: 100%;
}

div.project tr {
	width: 30%;
}
