
ol, ul {
	list-style: none;
}

div {
	display: block;
}

.post {
	position: relative;
	font-size: 14px;
	overflow: hidden;
}

.post_avatar {
	border-radius: 3px;
	background-color: #36465d;
	text-decoration: none;
	display: block;
	height: 64px;
	width: 64px;
	left: -85px;
	top: 0;
	float: left;
}

.post_avatar .post_avatar_link {
	background: #36465d 50% 50% no-repeat;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	background-size: cover;
}

.post_content {
	color: #a1a1a1;
	width: 540px;
	font-size: 14px;
	background: #fff;
	padding: 15px 0 0;
	word-wrap: break-word;
	border-radius: 3px;
	float: left;
}

/*
.post {
	position: relative;
	font-size: 14px;
	box-sizing: border-box;
}

#posts.posts {
	list-style-type: none;
	margin: 0 0 0 85px;
	padding: 0;
}

#posts.posts>.post_container {
	margin: 0 0 20px 0;
}

.post_avatar {
	border-radius: 3px;
	background-color: #36465d;
	text-decoration: none;
	overflow: visible;
	display: block;
	height: 64px;
	width: 64px;
	left: -85px;
	top: 0;
}

.post_avatar .post_avatar_link {
	background: #36465d 50% 50% no-repeat;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	background-size: cover;
	overflow: visible;
}

.post_avatar .post_avatar_wrapper {
	height: 100%;
	width: 100%;
}

.post_avatar .post_avatar_image, .post_avatar .post_sub_avatar_image {
	display: block;
	opacity: 0;
	pointer-events: none;
}

.post.post_full {
	width: 540px;
	font-size: 14px;
	background: #fff;
	padding: 15px 0 0;
	word-wrap: break-word;
	border-radius: 3px;
}

div, span, applet, object, iframe, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

div, span, applet, object, iframe {
	font-size: 100%;
}

.post_full .post_info_fence {
	max-width: 310px;
}

.post .post_info_fence, .post .post_moderation_flag {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post .post_info_fence {
	float: left;
}

.post_full .post_wrapper {
	zoom: 1;
}

h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.post_full .post_header, .post_full .post_header .post_info .post_info_link {
	color: #a1a1a1;
	word-wrap: normal;
	white-space: nowrap;
}

.post_full.is_reblog .post_info_fence>a {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
	max-width: 150px;
}

.post .post_header .post_info_link {
	color: #a1a1a1;
	text-decoration: none;
	background-image: none;
	padding-bottom: 0;
}

.post_full .post_header, .post_full .post_header .post_info .post_info_link {
	color: #a1a1a1;
	word-wrap: normal;
	white-space: nowrap;
}

a {
	color: #444;
	text-decoration: none;
}

.post_full .post_info .post_info_fence .reblog_source {
	display: inline;
}

.post .post_info .reblog_icon {
	display: inline-block;
	height: 0;
	width: 0;
	padding: 10px;
	overflow: hidden;
	background: -397px -93px url('/images/dashboard_master_sprite.png?v=cab1c7cbf936a1197c3521dd488703ff') no-repeat;
	opacity: .31;
	text-indent: -999em;
	vertical-align: -5px;
	margin: 0 2px;
}
*/
